.daily-planner-view {
  display: flex;
  flex-direction: column;
}

.daily-planner-top {
  display: flex;
  align-items: center;
}

.daily-planner-content {
  display: flex;
}

.daily-planner-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.daily-planner-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.MuiFormControlLabel-root {
  margin-left: 12px !important;
}

.MuiFormControlLabel-label {
  font-size: 12px !important;
  user-select: none;
  width: max-content;
}

.MuiSpeedDial-root .MuiSpeedDial-fab {
  background-color: #00407e;
}

.MuiSpeedDial-root .MuiSpeedDial-fab:hover {
  background-color: #00407e;
}