.daily-planner-view {
  display: flex;
  flex-direction: column;
}

.daily-planner-top {
  display: flex;
  align-items: center;
}

.daily-planner-content {
  display: flex;
}

.daily-planner-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.daily-planner-right {
  background: chartreuse;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.MuiFormControlLabel-label {
  font-size: 12px !important;
  user-select: none;
}